.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.container1 {
  width: 100%;
  height: 689px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGNvZmZlZXxlbnwwfHx8fDE2NDc0MTYzNzE&ixlib=rb-1.2.1&w=1500");
}
.Hero {
  width: 70%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(72, 91, 109, 0.67);
}
.container2 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.text {
  color: #edb66f;
  font-size: 6em;
  font-style: normal;
  font-weight: 600;
  margin-right: 0px;
}
.text1 {
  font-style: normal;
  font-weight: 600;
}
.text2 {
  color: #dedede;
  font-size: 1.7rem;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.container3 {
  width: 698px;
  display: flex;
  max-width: 100%;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.text3 {
  color: #dedede;
  font-size: 1.7rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.button {
  color: #dedede;
  z-index: 100;
  margin-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #edb66f;
}
.text4 {
  color: #ffffff;
  font-size: 1.75rem;
}
.Footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.IconGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .Hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .text {
    width: auto;
    font-size: 6rem;
    align-self: center;
    text-align: center;
  }
  .text2 {
    font-size: 1.7rem;
    max-width: 100%;
    align-self: center;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .text3 {
    margin: var(--dl-space-space-unit);
    font-size: 1.7rem;
    max-width: 100%;
    align-self: center;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .button {
    align-self: center;
  }
  .Footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .text5 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .container1 {
    height: auto;
  }
  .Hero {
    width: 100%;
    height: 689px;
    margin-top: 0px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    background-size: auto;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container2 {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
  }
  .text {
    font-size: 3.5rem;
    align-self: flex-start;
    text-align: left;
    padding-left: var(--dl-space-space-unit);
  }
  .text2 {
    font-size: 1.25rem;
    margin-top: var(--dl-space-space-twounits);
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-unit);
  }
  .container3 {
    width: 100%;
  }
  .text3 {
    font-size: 1.25rem;
    text-align: left;
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .button {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
  }
  .text4 {
    font-size: 1.25rem;
  }
  .Footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .text5 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
